{
	"drm_version": "1.1.0",
	"config":
	{
		"build_folder_name": "bin",
		"db_folder_name": "db",
		"db_file_name": "drm_db",
		"db_json_file_name": "drm.db.json",
		"data_file_ext": "json",
		"config_file_ext": "config",
		"sqlite_file_ext": "sqlite"
	},
	"modules": [
		"builder.py",
		"crypto.py",
		"drm_logger.py",
		"parser_json_json.py",
		"parser_sqlite_json.py",
		"parser_json_sqlite.py",
		"sqlite.py",
		"mssql.py",
		"validator.py",
		"files_and_folders.py",
		"deploy.py",
		"auth.py",
		"postgresql.py"
	],
	"log": {
		"folder_name": "log",
		"max_size_mb": "1",
		"backup_count": "3"
	},
	"locations": [],
	"trace_flags": []
}