{
	"bin": {
		"add": [
			{"name": "postgresql.py", "source_path": "modules", "target_path": "modules"},
			{"name": "oracle.py", "source_path": "modules", "target_path": "modules"},
			{"name": "liquibase.py", "source_path": "modules", "target_path": "modules"}
		],
		"upd": [
			{"name": "builder.py", "source_path": "modules", "target_path": "modules"},
			{"name": "auth.py", "source_path": "modules", "target_path": "modules"},
			{"name": "deploy.py", "source_path": "modules", "target_path": "modules"},
			{"name": "parser_json_json.py", "source_path": "modules", "target_path": "modules"},
			{"name": "parser_json_sqlite.py", "source_path": "modules", "target_path": "modules"},
			{"name": "parser_sqlite_json.py", "source_path": "modules", "target_path": "modules"},
			{"name": "validator.py", "source_path": "modules", "target_path": "modules"}
		]
	},
	"db": {
		"schema": {
			"upd": [
				{"name": "solutions", "source_path": "tables"},
				{"name": "projects", "source_path": "tables"}
			]
		}
	}
}