{
	"bin": {
		"add": [
			{"name": "postgresql.py", "source_path": "modules", "target_path": "modules"}
		],
		"upd": [
			{"name": "auth.py", "source_path": "modules", "target_path": "modules"},
			{"name": "deploy.py", "source_path": "modules", "target_path": "modules"},
			{"name": "validator.py", "source_path": "modules", "target_path": "modules"}
		]
	}
}