{
	"bin": {
		"upd": [
			{"name": "drm_deploy.py", "source_path": "drm", "target_path": ""}
		]
	},
	"config": {
		"upd": [
			{
				"name": "drm_deploy.config",
				"target_path": "",
				"changes": {
					"sections": {
						"add": [
							{"path": "/installation_info", "value": "'upgrades': []"},
							{"path": "/installation_info/upgrades", "value": "{'version': '{{version}}', 'installed_by': '{{user}}', 'installation_time': '{{date}}'}"}
						]
					}
				}
			}
		]
	}
}